{% extends "base.html" %}

{% block title %}Flashcards Study App{% endblock %}

{% block content %}
    <h1>Welcome to the FE1 quiz application!</h1>
    <p>
        Please first read our about page to understand the reasoning behind this application - or if you're back again, jump right in with the buttons below!
    </p>

    <div class="grid">
        <div class="card">
            <h2>Manage Flashcards</h2>
            <p>Create cards for revision and testing.</p>
            <a href="{{ url_for('flashcards') }}"><button>Go to Flashcards</button></a>
        </div>
        <div class="card">
            <h2>Study</h2>
            <p>Study your flashcards.</p>
            <a href="{{ url_for('study') }}"><button>Open Study</button></a>
        </div>
        <div class="card">
            <h2>Quiz Yourself</h2>
            <p>Choose a subject and test your recall with quick questions.</p>
            <a href="{{ url_for('quiz') }}"><button>Start Quiz</button></a>
        </div>
    </div>
{% endblock %}
